.DS_Store

# Code environnement
.vscode
.idea

# Python
**/__pycache__
# sandbox.py

# Jupyter Notebooks
.ipynb_checkpoints
**/*.ipynb

# Large files
*.png

# Data files
# *.csv
*.parquet

# yolov3
yolov3*

#mnist
mnist-data